/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
  font-family: Georgia, serif;
  font-weight: 300;
  font-style: normal;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  color: #339c5e;
  margin-bottom: 0.5em;
}
h1 { font-size: 30px; }
h2 { font-size: 20px; }
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 19px; }

a {
  color: #4b57a6;
  text-decoration: none;
}

strong { font-weight: bold; }

address {
  border: solid 1px #ccc;
  background: #eee;
  padding: 0.7em;
  font-family: 'Courier New', monospace;
}

body {
  background-color: #333;
}

#banner {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

#page {
  background: #e0e0e0;
}

#page > .container {
  background: #fff;
  padding-top: 115px;
  padding-bottom: 15px;
}

#page > .container > .row {
  margin-bottom: 20px;
}

footer {
  font-family: Roboto;
  color: #eee;
  padding-top: 2em;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer a {
  color: #eee;
}

#logo {
  height: 100px;
  width: 404px;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  background-size: 100%;
  background-image: url(/images/logo-website-top.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #logo {
    background-image: url(/images/logo-website-top@2x.png);
  }
}

#nav {
  position: absolute;
  top: 33px;
  right: 15px;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav ul li {
  position: relative;
  float: left;
}

#nav a {
  display: block;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 18px 2px;
  margin: 0;
  border-left: solid 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

#nav ul li a:hover, #nav ul li:hover > a {
  background-color: rgba(51, 156, 94, 0.5);
  color: #fff;
}

#nav ul li:first-child a {
  border: none;
}

#nav ul ul {
  display: none;
  background: rgba(32, 32, 32, 0.75);
  position: absolute;
  top: 100%;
  width: 150%;
}

#nav ul ul li {
  float: none;
}

#nav ul ul a {
  color: #ccc;
  display: block;
  text-transform: none;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  margin: 0;
  border: none;
}

#nav ul li:hover ul {
  display: block;
}

#page h1 {
  border-bottom: solid 1px #ddd;
}

#page .carousel-item {
  min-height: 400px
}

#page .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 32, 32, 0.6);
  text-shadow: 1px 1px 2px black;
}

#page .carousel-caption h3 {
  color: #fff;
}

#social-menu {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

#social-menu ul {
  list-style: none;
}

#social-menu li {
  border: none;
  line-height: normal;
  display: inline-block;
  padding: 0 0.1em;
  width: 40px;
  height: 40px;
}

#social-menu a {
  padding: 0;
  display: inline-block;
  border-radius: 30px;
}

#social-menu img {
  max-height: 40px;
  width: auto;
  vertical-align: middle;
}

#social-menu .facebook:hover,
#social-menu li:hover .facebook {
  background-color: #3B5998;
}

#social-menu .twitter:hover,
#social-menu li:hover .twitter {
  background-color: #c0deed;
}

#social-menu .instagram:hover,
#social-menu li:hover .instagram {
  background-color: #d32b71;
}

#social-menu .youtube:hover,
#social-menu li:hover .youtube {
  background-color: #cd201f;
}
