/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
  font-family: Georgia, serif;
  font-weight: 300;
  font-style: normal;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  color: #339c5e;
  margin-bottom: 0.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #339c5e;
}

h1.tight, h2.tight, h3.tight, h4.tight, h5.tight, h6.tight,
#page .tabs h1, #page .tabs h2, #page .tabs h3, #page .tabs h4, #page .tabs h5, #page .tabs h6 {
  margin-bottom: 0;
}

#page .tabs h1 {
  border-bottom: none;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 19px; }
h6 { font-size: 18px; }

a, a:hover, a:focus {
  color: #4b57a6;
  text-decoration: none;
}

strong { font-weight: bold; }

address {
  border: solid 1px #ccc;
  background: #eee;
  padding: 0.7em;
  font-family: 'Courier New', monospace;
}

body {
  background-color: #333;
}

#banner {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

#page {
  background: #e0e0e0;
}

#page > .container {
  background: #fff;
  padding-top: 75px;
  padding-bottom: 15px;
  min-height: 800px;
}

.page-home #page > .container {
  min-height: initial;
}

#page .container .row + .row {
  margin-top: 20px;
}

footer {
  font-family: Roboto;
  color: #eee;
  padding-top: 2em;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer a {
  color: #eee;
}

#logo {
  display: block;
  margin: 0 auto;
  height: 60px;
  text-indent: -9999px;
  background-size: auto 85%;
  background-image: url(/images/logo-website-top.png);
  background-repeat: no-repeat;
  background-position: left center;
}

#nav {
  position: relative;
  float: right;
  margin-top: 5px;
  display: none;
  background: rgba(0, 0, 0, 0.75);
}

#menu_hamburger {
  float: right;
  margin: 14px 0;
  padding: 8px;
  border: solid 1px white;
  border-radius: 4px;
  cursor: pointer;
}

#menu_hamburger span {
  display: block;
  width: 15px;
  height: 1px;
  border-bottom: solid 2px white;
}

#menu_hamburger span + span {
  margin-top: 3px;
}

#menu_checkbox {
  display: none;
}

#menu_checkbox:checked + #nav {
  display: block;
  position: fixed;
  top: 55px;
  right: 0;
  min-width: 200px;
  width: 30vw;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav a {
  display: block;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
  text-transform: ;
  padding: 3px 12px;
  margin: 0;
  cursor: pointer;
}

#nav ul li a:hover, #nav ul li:hover > a {
  background-color: rgba(51, 156, 94, 0.5);
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

#nav ul li:first-child a,
#nav ul li.d-block.d-sm-none + li a {
  border: none;
}

#nav ul ul {
  background: rgba(32, 32, 32, 0.75);
}

#nav ul ul li {
  float: none;
}

#nav ul ul a {
  color: #ccc;
  display: block;
  text-transform: none;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin: 0;
  border: none;
  padding-left: 25px;
}

#nav ul li:hover ul {
  display: block;
}

#fps_carousel h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  margin: 0;
}

#page h1 {
  border-bottom: solid 1px #ddd;
}

#page .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 32, 32, 0.6);
  text-shadow: 1px 1px 2px black;
  padding: 18px 0;
}

#page .carousel-caption a {
  color: #fff;
}

.content-image {
  text-align: center;
}

.content-image img {
  max-width: 100%;
}

#social-menu {
  margin: 0 0 1em;
  padding: 0;
  display: inline-block;
}

#social-menu ul {
  list-style: none;
}

#social-menu li {
  border: none;
  line-height: normal;
  display: inline-block;
  padding: 0 0.1em;
  width: 40px;
  height: 40px;
}

#social-menu a {
  padding: 0;
  display: inline-block;
  border-radius: 30px;
}

#social-menu img {
  max-height: 40px;
  width: auto;
  vertical-align: middle;
}

#social-menu .facebook:hover,
#social-menu li:hover .facebook {
  background-color: #3B5998;
}

#social-menu .twitter:hover,
#social-menu li:hover .twitter {
  background-color: #c0deed;
}

#social-menu .instagram:hover,
#social-menu li:hover .instagram {
  background-color: #d32b71;
}

#social-menu .youtube:hover,
#social-menu li:hover .youtube {
  background-color: #cd201f;
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px) {
  #logo {
    background-image: url(/images/logo-website-top@2x.png);
  }
}

@media (min-width: 576px) {
  #nav a {
    border-left: solid 1px rgba(255, 255, 255, 0.75);
  }
}

@media (min-width: 768px) {
  #logo {
    background-size: auto 85%;
  }

  #nav a {
    padding: 3px 12px;
    border-left: solid 1px rgba(255, 255, 255, 0.75);
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  #banner {
    height: 100px;
  }

  #page > .container {
    padding-top: 115px;
  }

  #logo {
    height: 100px;
    width: 404px;
    max-width: 100%;
    background-size: 100%;
  }

  #nav {
    display: block;
    position: initial;
    background: transparent;
    width: auto;
    margin-top: 30px;
  }

  #nav a {
    font-size: 18px;
    padding: 6px 15px 4px;
  }

  #nav ul ul a {
    padding: 8px 12px;
    font-size: 16px;
  }

  #nav ul li {
    position: relative;
    float: left;
  }

  #nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
  }

  #nav ul li:last-child ul {
    right: 0;
  }
}

.button-cta {
  margin-top: 26px;
  background-color: #339c5e;
  color: #fff;
  padding: 0.5em 0.75em;
  margin: 0 auto;
  display: inline-block;
  font-size: 18px;
}

.button-cta.small {
  font-size: 16px;
  padding: 0.4em 0.5em;
  margin: 0.25em auto;
}

.wrapped-tab-container {
  padding: 0;
}

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.tabs li {
  display: inline-block;
  border-bottom: solid 1px #ddd;
}

li.stretch {
  flex: 1;
}

#page li.heading h1 {
  border: none;
  margin: 0;
}

li.tab {
  flex: 0;
  padding: 6px 12px 3px;
  white-space: nowrap;
  line-height: 1.75;
}

li.active_tab {
  background-color: #999;
  border-bottom-width: 3px;
  border-bottom-color: #4b57a6;
}

li.active_tab a {
  color: white;
}

.float-left {
  float: left;
}

img.float-left {
  margin-right: 1em;
}

.float-right {
  float: right;
}

img.float-right {
  margin-left: 1em;
  margin-bottom: 1em;
}

#slogan {
  text-align: center;
}

#slogan h1 {
  margin: 0;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
}

.sponsor-image {
  text-align: center;
  padding: 1em 0;
}

.blog-posts {
  list-style: none;
  padding: 0;
}

.blog-title {
  margin-bottom: 3px;
}

.blog-post h3 {
  margin-bottom: 0;
}

.blog-post-meta {
  color: #999;
  font-style: italic;
}

.video-player {
  float: right;
  margin: 0 0 10px 20px;
}

.video-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.video-container:after {
  margin-top: 56.25%;
  display: block;
  content: '';
}

.video-container > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

aside.box {
  width: 100%;
  background-color: #eee;
  padding: 8px 12px;
  text-align: center;
}

.link-button {
  background-color: #339c5e;
  color: #fff;
  padding: 0.5em 0.75em;
  margin: 0 auto;
  display: inline-block;
  font-size: 18px;
}

.link-button:hover {
  color: #fff;
  background-color: #4b57a6;
}

.facebook-button, .facebook-button:hover, .facebook-button:active, .facebook-button:focus {
  background-color: #3b5998;
  color: white;
}

blockquote {
  border: solid 1px #ccc;
  padding: 15px 20px;
  background-color: #f8f8f8;
  border-radius: 3px;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  text-align: center;
}
