---
layout: default
title: Upcoming Concerts
description: Upcoming Concerts — Songs You Love to Hear
image: "/images/concerts/2026/songs-you-love-to-hear/banner.jpg"
permalink: "/concerts/"
redirect_from:
- "/tickets"
---
{% include concerts-header.html %}

<div class="alert-badge">
  <a href="/events/community-art-show">Community Art Show</a> &mdash; Submit your art for &ldquo;We Can Mend the Sky&rdquo; by April 1!
</div>

<div class="alert-badge">
  <a href="/concerts/2026/yard-sale-fundraiser">FPS Yard Sale Fundraiser</a> &mdash; Saturday, May 16, 2026 at 51 Sheep River Drive, Okotoks. 9AM&ndash;3PM.
</div>

{% include concert-details.html concert=site.data.concerts.songs-you-love-to-hear %}
<hr />
{% include concerts-footer.html %}