---
layout: default
title: 2018 Fall Registration Fees
---

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>

<script class="vue-js-template" name="item-price" type="text/html" data-props="amount">
  <div style="text-align: right; white-space: nowrap;">
    <span style="float: left;">$</span>
    ${ formatCurrency(amount) }
  </div>
</script>

<div id="app" style="display: none;">
  <div class="row">
    <div class="col col-10 offset-1 col-md-8 offset-md-2">
      <h1>2018 Fall Registration</h1>

      <table class="table" style="max-width: 100%;">
        <thead>
          <th>Description</th>
          <th width="35%" style="text-align: right;">Price</th>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td>
              <h3>${ item.title }</h3>

              <ul>
                <li v-for="detail in item.details">
                  <strong>${ detail.label }:</strong> ${ detail.value }
                </li>
              </ul>
            </td>

            <td style="text-align: right;">
              <h3 style="margin-bottom: 0;">$ ${ formatCurrency(item.amount) }</h3>

              <p v-if="item.fee > 0" style="margin-top: 0; color: #888;"><em>+ $${ formatCurrency(item.fee) } processing fee</em></p>

              <label class="btn btn-info" style="margin-top: 0.5em;">
                Register  

                <input
                  type="checkbox"
                  :name="item.key"
                  v-model="selectedItems"
                  :id="item.key"
                  :value="item.key"
                >
              </label>
            </td>
          </tr>

          <tr>
            <td>
              <h3>${ societyFee.title }</h3>

              <p>All performers must pay a Society Membership fee once per year. This option will be automcatically selected if you choose a performance group.</p>
            </td>

            <td style="text-align: right;">
              <h3 style="margin-bottom: 0;">$ ${ formatCurrency(societyFee.amount) }</h3>

              <p style="margin-top: 0; color: #888;"><em>+ $${ formatCurrency(societyFee.fee) } processing fee</em></p>

              <label class="btn btn-info" :disabled="forceMembership">
                Register  

                <input type="checkbox" v-if="forceMembership" disabled="disabled" :checked="true">
                <input type="checkbox" v-if="!forceMembership" v-model="membership">
              </label>
            </td>
          </tr>

          <tr>
            <th>Subtotal:</th>
            <td><item-price v-bind:amount="subtotal"></item-price></td>
          </tr>

          <tr>
            <th>Processing fee:</th>
            <td><item-price v-bind:amount="processingFee"></item-price></td>
          </tr>

          <tr>
            <th>Total:</th>
            <td><item-price v-bind:amount="total"></item-price></td>
          </tr>
        </tbody>
      </table>

      <form :action="apiEndpoint" method="post" id="payment-form">
        <table class="table" style="max-width: 600px; margin: 0 auto;">
          <thead>
            <tr>
              <th colspan="2">
                <h3>Payment</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">
                <p>Please enter your credit card information below. Your payment information is processed securely through <a href="https://stripe.com" target="_blank">Stripe</a>.</p>
              </td>
            </tr>

            <tr>
              <th width="30%">
                <label for="name">
                  Name
                </label>
              </th>
              <td>
                <input v-model="name" id="name">
              </td>
            </tr>

            <tr>
              <th width="30%">
                <label for="email">
                  Email
                </label>
              </th>
              <td>
                <input v-model="email" id="email">
              </td>
            </tr>

            <tr>
              <th width="30%">
                <label for="card-element">
                  Credit card
                </label>
              </th>
              <td>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <div id="card-errors" role="alert"></div>

                <button class="btn btn-primary btn-lg" :disabled="(subtotal > 0) ? null : 'disabled'">Submit Payment</button>
              </td>
            </tr>
          </tbody>
        </form>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
var stripeKey = 'pk_test_Tk6deQ7Ys40NMJZdt38ATHEk';
var apiEndpoint = 'https://ekdzvo9nbf.execute-api.ca-central-1.amazonaws.com/dev/charges';

if (!/test/.test(location.href)) {
  stripeKey = 'pk_live_Be4JNC3A7KCkFsjqusOUDmoA';
  apiEndpoint = 'https://4o62a1qinh.execute-api.ca-central-1.amazonaws.com/prod/charges';
}

function formatCurrency (number) {
  return (number / 100).toFixed(2);
}

function runCart () {
  var societyFee = {
    key: 'fps',
    title: 'Society Fee',
    amount: 2000,
    fee: 88,
  };

  var items = [
    {
      key: 'fpc',
      title: 'Chorus (Fall only)',
      amount: 10000,
      fee: 290,
      details: [
        { label: 'Date', value: 'Tuesdays' },
        { label: 'Time', value: '8pm-10pm' },
        { label: 'Location', value: 'Okotoks Alliance Church' },
        { label: 'Starting Date', value: 'September 4' },
      ],
    },
    {
      key: 'fpc_prepay',
      title: 'Chorus (Fall + Spring)',
      amount: 18000,
      fee: 522,
      details: [
        { label: 'Date', value: 'Tuesdays' },
        { label: 'Time', value: '8pm-10pm' },
        { label: 'Location', value: 'Okotoks Alliance Church' },
        { label: 'Starting Date', value: 'September 4' },
      ],
    },
    {
      key: 'fpcc',
      title: 'Chamber Chorus',
      amount: 4000,
      fee: 116,
      details: [
        { label: 'Date', value: 'Every 2nd Tuesday' },
        { label: 'Time', value: '10pm-11pm' },
        { label: 'Location', value: 'Okotoks Alliance Church' },
        { label: 'Starting Date', value: 'September 18' },
      ],
    },
    {
      key: 'fpvj',
      title: 'Vocal Jazz',
      amount: 10000,
      fee: 290,
      details: [
        { label: 'Date', value: 'Thursdays' },
        { label: 'Time', value: '8:00pm-10:00pm' },
        { label: 'Location', value: 'Okotoks Alliance Church' },
        { label: 'Starting Date', value: 'TBC' },
      ],
    },
    {
      key: 'carolling',
      title: 'Carolling Chorus',
      amount: 0,
      fee: 0,
      details: [
        { label: 'Rehearsal Date & Time', value: 'TBD' },
        { label: 'Location', value: 'Okotoks Alliance Church' },
      ],
    },
    {
      key: 'fpo',
      title: 'Orchestra',
      amount: 8000,
      fee: 232,
      details: [
        { label: 'Date', value: 'Wednesdays' },
        { label: 'Location', value: 'Okotoks Alliance Church' },
        { label: 'First Rehearsal', value: 'Wednesday Sept. 19. 7-10 pm' },
      ],
    },
  ];

  function generateTemplate (node) {
    var name = node.getAttribute('name');
    var props = ((node.dataset && node.dataset.props) || node.getAttribute('data-props') || '').split(',');
    var template = node.innerHTML;

    Vue.component(name, {
      delimiters: ['${', '}'],
      props: props,
      template: template,
    });
  }

  var templates = document.getElementsByClassName('vue-js-template');
  for (var i = 0; i < templates.length; i++) {
    generateTemplate(templates[i]);
  }

  var app = new Vue({
    delimiters: ['${', '}'],
    el: '#app',
    computed: {
      processingFee: function () {
        if (this.subtotal === 0) {
          return 0;
        }

        return this.subtotal * .029 + 30;
      },
      forceMembership: function () {
        return this.selectedItems.length > 0;
      },
      subtotal: function () {
        var total = 0;

        if (this.membership || this.selectedItems.length > 0) {
          total += 2000;
        }

        for (var i = 0; i < this.selectedItems.length; i++) {
          var key = this.selectedItems[i];
          var item = _.find(items, { key: key });
          if (item) {
            total += item.amount;
          }
        }

        return total;
      },
      total: function () {
        return this.subtotal + this.processingFee;
      },
    },
    data: {
      apiEndpoint: apiEndpoint,
      email: '',
      items: items,
      membership: true,
      name: '',
      selectedItems: [],
      societyFee: societyFee,
    },
  });

  document.getElementById('app').style.display = 'block';

  var stripe = Stripe(stripeKey);
  var elements = stripe.elements({
    fonts: [
      {
        cssSrc: 'https://fonts.googleapis.com/css?family=Roboto|Josefin+Sans',
      },
    ],
  });

  var form = document.getElementById('payment-form');
  var card = elements.create('card', {
    card: {
      hidePostalCode: true,
    },
    iconStyle: 'solid',
    style: {
      base: {
        color: '#32325D',
        fontWeight: 500,
        fontFamily: 'Roboto, sans-serif',
        fontSize: '16px',
        fontSmoothing: 'antialiased',

        '::placeholder': {
          color: '#CFD7DF',
        },
        ':-webkit-autofill': {
          color: '#e39f48',
        },
      },
      invalid: {
        color: '#E25950',

        '::placeholder': {
          color: '#FFCCA5',
        },
      },
    },
  });
  var errorField = document.getElementById('card-errors');

  card.mount('#card-element');

  card.addEventListener('change', function(event) {
    if (event.error) {
      errorField.textContent = event.error.message;
    } else {
      errorField.textContent = '';
    }
  });

  form.addEventListener('submit', function(event) {
    event.preventDefault();

    if (app.selectedItems.indexOf('fpc') !== -1 && app.selectedItems.indexOf('fpc_prepay') !== -1) {
      alert('You have registered twice for FPC (Fall, and pre-paying for full year). Please select only one.');
      return;
    }

    if (!app.name || !app.email) {
      alert('Please enter your name and email address.');
      return;
    }

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the customer that there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  function stripeTokenHandler (token) {
    var email = document.getElementById('email').value;
    var items = app.selectedItems.slice().concat('fps').map(function (item) {
      return 'SKU_' + item.toUpperCase();
    });

    $.ajax({
      type: 'POST',
      url: apiEndpoint,
      dataType: 'json',
      data: JSON.stringify({
        token: token.id,
        email: email,
        items: items,
      }),
      success: function () {
        window.location = '/thank-you/';
      },
      error: function () {
        alert('An error occurreed processing your payment. Please contact info@foothillsphilharmonic.com if this problem persists.');
      },
    });
  }
}

runCart();
</script>
