<div class="row">
  <div class="col-md-6 col-12">
    <h2>Mailing List</h2>
    <p>
      Never miss out on a concert or upcoming event again — keep up to date by
      signing up for our mailing list below.
    </p>
    <p>
      <a class="btn btn-primary" href="http://eepurl.com/bzn_Jf" target="_blank"
        >Join our Mailing List</a
      >
    </p>
  </div>

  <div class="col-md-6 col-12">
    <h2>Musicians Mailing List</h2>
    <p>
      Are you interesting in joining the Foothills Philharmonic Society as a
      musician? Sign up to our musicians mailing list to get notification of our
      upcoming seasons!
    </p>
    <p>
      <a class="btn btn-primary" href="http://eepurl.com/dE5N5v" target="_blank"
        >Join our Musicians Mailing List</a
      >
    </p>
  </div>
</div>
