<div class="row justify-content-around">
  <div class="col-12 col-lg-8">
    <h2 class="tight">
      <a href="{{ include.season.url }}" target="_blank"
        >{{ include.season.name }}
      </a>
    </h2>

    <p>
      <em>{{ include.season.group }}</em>
    </p>

    {% for line in include.season.description %}
    <p>{{ line }}</p>
    {% endfor %} {% if include.season.email != "" %}
    <p>
      For more information, please contact
      <a href="mailto:{{ include.season.email }}@footphil.com"
        >{{ include.season.email }}@footphil.com</a
      >.
    </p>
    {% endif %}

    <h4 class="tight">Rehearsals:</h4>
    <ul>
      <li>
        Starting {{ include.season.first_rehearsal | date: "%b %-d, %Y" }}
      </li>
      <li>{{ include.season.rehearsals }}</li>
    </ul>

    <h4 class="tight">Location</h4>
    <p>
      <a
        href="{{ site.data.locations[include.season.location_slug].url }}"
        target="_blank"
        >{{ site.data.locations[include.season.location_slug].name }}</a
      >
    </p>

    <h4 class="tight">Concerts:</h4>
    {{ include.season.concert_details }}

    <h6 class="tight">Fees:</h6>
    <ul>
      <li><strong>Registration fee:</strong> ${{ include.season.price }}</li>
      {%- if include.season.early_bird %}
      <li>
        <strong>Early bird rate:</strong> ${{ include.season.early_bird }} (by
        {{ include.season.early_bird_deadline | date: "%b %-d, %Y" }})
      </li>
      {% endif %}
    </ul>

    <h4 class="tight">Registration</h4>
    <p>
      To register, you must first become a member of the Foothills Philharmonic
      Society. Once you are a member, you can join below.
    </p>

    <p>
      <a
        class="btn btn-primary"
        href="http://members.footphil.com/join-us"
        target="_blank"
      >
        Become a member
      </a>

      <a
        class="btn btn-secondary"
        href="{{ include.season.url }}"
        target="_blank"
        >Join the {{ include.season.group }}
      </a>
    </p>
  </div>
</div>
