<div class="col-12 col-lg-4 col-md-6">
  <h3 class="tight">
    <a href="/join/{{ include.season.year }}/{{ include.slug }}"
      >{{ include.season.name }}</a
    >
  </h3>

  <p>
    <em>{{ include.season.group }}</em>
  </p>

  <p>{{ include.season.subtitle }}</p>

  <h6 class="tight">Rehearsals:</h6>
  <ul>
    <li>Starting {{ include.season.first_rehearsal | date: "%b %-d, %Y" }}</li>
    <li>{{ include.season.rehearsals }}</li>
    {% if include.season.location_slug %}
    <li>
      <a
        href="{{ site.data.locations[include.season.location_slug].url }}"
        target="_blank"
      >
        {{ site.data.locations[include.season.location_slug].name }}
      </a>
    </li>
    {% endif %}
  </ul>

  <h6 class="tight">Fees:</h6>
  <p>
    ${{ include.season.price }} {%- if include.season.early_bird %}, early bird
    rate: ${{ include.season.early_bird }} (by {{
    include.season.early_bird_deadline | date: "%b %-d, %Y" }}) {% endif %}
  </p>

  <p>
    <a
      class="btn btn-secondary"
      href="/join/{{ include.season.year }}/{{ include.slug }}"
      >More info</a
    >
  </p>
</div>
