<div class="tab-container d-none d-lg-block">
  <ul class="tabs">
    <li class="stretch"><h1>{{ include.tabs.name }}</h1></li>
    {% for tab in include.tabs.tabs %}
      <li class="tab {% if tab[0] == page.permalink %}active_tab{% endif %}"><a href="{{ tab[0] }}">{{ tab[1] }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="container wrapped-tab-container d-block d-lg-none">
  <div class="row no-gutters">
    <div class="col-12">
      <h1>{{ include.tabs.name }}</h1>
    </div>

    <div class="col-12">
      <ul class="tabs">
        {% for tab in include.tabs.tabs %}
          <li class="tab {% if tab[0] == page.permalink %}active_tab{% endif %}"><a href="{{ tab[0] }}">{{ tab[1] }}</a></li>
        {% endfor %}
        <li class="stretch"></li>
      </ul>
    </div>
  </div>
</div>
