<div class="row">
  <div class="col-12">
    <div class="content-image">
      <img
        alt="Tim Korthuis"
        title="Tim Korthuis"
        src="/images/tim.jpg"
        class="float-right"
      />
    </div>

    <p>
      Having been a resident of the Foothills since an early age, Tim Korthuis
      and his wife have grown to love the beautiful hills, plains and mountains
      of the area, and the fantastic local music community.
    </p>

    <p>
      Tim completed his Masters of Music in Choral Conducting from the
      University of Calgary in 2014, as well as holding a Bachelor’s degree in
      Piano performance from Rocky Mountain College. He has toured as choral
      accompanist to New York, Montreal and Ottawa and his Graduate studies have
      included studies in Vienna and Bulgaria as well as studying with the
      Vancouver Chamber Choir under the direction of Jon Washburn, and the
      Spiritus Chamber Choir under Tim Shantz. He has had the pleasure to study
      and conduct many works including Brahms A German Requiem, Carl Orff’s
      Carmina Burana, as well as works by Schubert, Mozart, Mendelssohn, Dvorak,
      Whitacre and Canadian Composers R. Murray Schafer and Stephen Hatfield
      among many others. He has also had the pleasure of conducting the World
      Premiere of On the Eve of Ivan Kupola by Anna Pidgorna at the U of C in
      January of 2013.
    </p>

    <p>
      He has studied conducting under Maestro’s Will Kesling, Alex Jiménez, Dian
      Tchobanov, Jon Washburn and Tim Shantz, as well as Dr. Colleen Whidden,
      Dr. Don Christianson, Professor Edmond Agopian and Henric Idestrom. His
      studies have also included Choral vocal techniques with Dr. Patricia
      Hrynkiw and Donna Kay, and Piano with Dr. Colleen Roller and Dr. Peter
      Jancewicz. He currently serves as conductor and Artistic Director of the
      Foothills Philharmonic Chorus, Okotoks Men’s Chorus and the Diamond Valley
      Singers. He has also served as accompanist for several local choirs and
      performers including the Big Rock Singers and works as Worship &amp; Arts
      Pastor at Okotoks Alliance Church. He has lived in Okotoks since 1984, and
      lives here with his wife and 4 beautiful children.
    </p>

    <p><em>— Tim Korthuis, Musical Director</em></p>
  </div>
</div>
