<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>{{ page.title }}</title>
  <meta name="robots" content="index,follow">
  <meta name="description" content="Foothills Philharmonic - A Classical Choir in Okotoks, Alberta">
  <meta name="keywords" content="Okotoks choir, Alberta choir, foothills choir, high river choir, Okotoks arts, Alberta arts, foothills arts, choir, Okotoks concerts, Alberta concerts, high river concerts, foothills concerts, classical music, Okotoks classical music, Alberta classical music, foothills classical music, high river classical music, fpc, foothills philharmonic, foothills philharmonic chorus, foothills philharmonic society, Okotoks orchestra, Alberta orchestra, foothills orchestra, high river orchestra, Okotoks orchestras, Alberta orchestras">
  <link rel="stylesheet" href="/css/new-design.css" type="text/css" media="all">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <link href='//fonts.googleapis.com/css?family=Roboto|Josefin+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript">var _kmq = _kmq || [];
  var _kmk = _kmk || '449365614749a295221e9855187ad9ed492ede16';
  var _kmq = _kmq || [];

  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }

  if (location.hostname === 'www.foothillsphilharmonic.com') {
    _kms('//i.kissmetrics.com/i.js');
    _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
  }
  </script>
</head>

<body>
  <header id="banner" role="banner">
    <a href="/" id="logo">Foothills Philharmonic</a>
    <nav id="nav" class="main-navigation" role="navigation">
      <ul>
        <li><a href="/chorus.html">Chorus</a></li>
        <li><a href="/jazz.html">Jazz Chorus</a></li>
        <li><a href="/orchestra.html">Orchestra</a></li>
        <li><a href="/join.html">Join Us</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div id="page">
    {{ content }}
  </div>

  <footer>
    <div id="social-menu">
      <ul>
        <li><a href="https://www.facebook.com/foothillsphilharmonic" class="facebook" target="_blank"><img src="/images/facebook.png"></a></li>
        <li><a href="https://twitter.com/FoothillsPhilAB" class="twitter" target="_blank"><img src="/images/twitter.png"></a></li>
        <li><a href="https://www.instagram.com/FoothillsPhilAB" class="instagram" target="_blank"><img src="/images/instagram.png"></a></li>
        <li><a href="https://www.youtube.com/channel/UCUgkuZMNzuM3SlYbNYjLucw" class="youtube" target="_blank"><img src="/images/youtube.png"></a></li>
      </ul>
    </div>
  </footer>

</body>
</html>
